/* src/index.css or src/styles.css */

/* Other styles */
@import '~primeflex/primeflex.css';
@import 'primereact/resources/themes/mdc-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
/* Rest of the styles */


/* Login.css */

/* Login.css */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #4a90e2, #0073aa);
  }
  
  .login-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .p-float-label {
    margin-bottom: 20px;
    position: relative;
  }
  
  .p-float-label label {
    position: absolute;
    top: -8px;
    left: 10px;
    font-size: 14px;
    color: #888;
    background-color: #fff;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .p-inputtext {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    color: #333;
  }
  
  .p-inputtext:focus {
    border-color: #0073aa;
  }
  
  .p-button-rounded {
    border-radius: 8px;
  }
  .admin-page {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .sidebar-button.active {
    font-weight: bold;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  